{% extends 'first_app/first_app_base.html' %} 

{% block body_block %}
<div class = "jumbotron">
    <h1>Hello to school details</h1>
    <h2>school details:</h2>
    <p>Name: {{school_detail.name}}</p>
    <p>Principal: {{school_detail.principal}}</p>
    <p>Location: {{school_detail.location}}</p>
    <h3>students</h3>
    {% for student in school_detail.students.all  %}
    <p>{{student.name}} who is {{student.age}} years old</p>
    {% endfor %}
</div>

<div calss = "container">
    <p calss='btn btn-warning'><a calss='btn btn-warning' href = "{% url 'first_app:update' pk=school_detail.pk%}">Update</a></p>
</div>

{% endblock  %}
